<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200458164281-bmuve452n9ln2l2v09kc242i2nq5e2iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200458164281-bmuve452n9ln2l2v09kc242i2nq5e2iv</string>
	<key>API_KEY</key>
	<string>AIzaSyC9JMW40plxfVQc_vf16xftezcvi3eJoPs</string>
	<key>GCM_SENDER_ID</key>
	<string>200458164281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-ea652</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-ea652.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200458164281:ios:3eea78bed68780989755e8</string>
</dict>
</plist>